<%= form_for rsvp do |rsvp| %>
  <p>
    <%= rsvp.label :guests, 'Number of Guests' %>
    <%= rsvp.select :guests, (1..6) %>
    <%= rsvp.hidden_field :party_id, value: @party.id %>
  </p>

  <div class="actions">
    <%= rsvp.submit "Count me in!", :class => "btn btn-success btn-md" %>
  </div>
<% end %>



