
<div class="event-details">
  <div class="header-image">

  </div>

  <div class="event-logistics">
    <div class="col-md-6">

      <h3><%= @party.event_name %></h3>
      <p>Hosted by <%= @party.host %></p>
      <p><%= @party.event_description %></p>

      <table>
        <tr>
          <th></th>
          <th></th>
        </tr>

        <tr>
          <td><i class="icon icon-calendar"></i></td>
          # <td><%= @party.event_date.strftime("%A, %b %e, %Y at %l:%M %P") %></td>
        </tr>
        <tr>
          <td><i class="icon icon-map-marker"></i></td>
          <td><%= @party.venue %></td>
        </tr>
        <tr>
          <td><i class="icon icon-ok"></i></td>
          <td><%= @party.hashtag %></td>
        </tr>
        <tr>
          <td><i class="icon-file-text-alt"></i></td>
          <td><%= @party.notes %></td>
        </tr>
      </table><!-- icons -->

      <h6><%= link_to "Edit Party", edit_party_path(@party) %></h6>
      <h6><%= link_to "Home", home_path %></h6>

    </div>
  </div><!-- event-logistics -->

    <div class="rsvp">
      <div class="col-md-6">
        <h3>RSVP</h3>
        <%= render partial: 'rsvpform', locals: {rsvp: Rsvp.new} %>
        <br />

        <h5>Tweetable: <%= @party.event_name %> is going to be AMAZING.</h5>
        <%= tweet_button(:via => "codefellowsorg", :text => "Ask me about the awesome event I just joined!") %>
      </div>
    </div><!-- rsvp -->


  <div class="col-md-12 hashtag">
    <h3>Did you attend the event?</h3>
    <h3>Put in a hashtag to see all the Instagram photos that were taken!</h3>

    <%= render partial: 'socialform', locals: {socialview: Socialview.new} %>

  </div>

  <div class="googlemap">
    <div class="col-md-6">
      Google Map
    </div>

    <div class="col-md-6">
      Google Map Directions
    </div>
  </div>

</div>





<!-- Look at deleting -->

<!--
  <div id="spacebox" class="variable-sizes clearfix isotope">
    <div class="isotope-item">

      <div class="square-one element light-orange width2 height2"> 1
      </div>

      <div class="square-two element dark-orange width2 height2">
        <h3 class="event-name">2 Name</h3>
      </div>

      <div class="square-three element blue width2 height2">
        <h3 class="event-venue">3 Venue</h3>
      </div>

      <div class="square-four element grey width2 height2">
        4
      </div>

      <div class="square-five element light-orange height2">
        5
      </div>

      <div class="square-six element medium-orange">
        6
      </div>

      <div class="square-seven element dark-orange">
        7
      </div>

      <div class="square-eight element blue">
        8
      </div>

      <div class="square-nine element grey">
        9
      </div>


    </div>-->
  <!-- </div>spacebox -->




